/composer.lock
/phpunit.xml
/tools
/vendor
/.idea/
/.phpunit.cache
tests/test_app/App/Model/Table/CommentsTable.php
tests/test_app/App/Controller/ProductVersionsController.php
tests/test_app/App/Controller/ProductsController.php
tests/test_app/Plugin/TestBake/
tests/test_app/tests/
clover.xml
/.phpunit.result.cache
