<?xml version="1.0"?>
<ruleset name="CakePHP Bake">
    <config name="installed_paths" value="../../cakephp/cakephp-codesniffer" />

    <rule ref="CakePHP" />

    <exclude-pattern>*/comparisons/*</exclude-pattern>

    <rule ref="./vendor/cakephp/cakephp-codesniffer/CakePHP/ruleset.xml">
        <!-- Exclude unwanted sniffs -->
        <exclude name="Generic.Commenting.Todo.TaskFound" /> <!-- Excluded because it triggers on Todo* models -->
    </rule>
</ruleset>
