includes:
	- phpstan-baseline.neon

parameters:
    level: 6
    paths:
        - src/
    bootstrapFiles:
        - tests/bootstrap.php
    ignoreErrors:
        - identifier: missingType.iterableValue
        - identifier: missingType.generics
        - identifier: method.childReturnType
